html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body

        div.container
            h2 Groupe
            button.ajoutercours Ajouter un cours
            br
            button.voircours Récupérer cours

            h2 Question
            button.voirquestion Récupérer une question

            h2 Questionnaire
            button.ajouterquestionnaire Ajouter un questionnaire
            br
            button.voirquestionnaire Afficher un questionnaire

            h2 Gérer Devoir
            button.ajouterDevoir Ajouter un devoir
            br
            button.voirDevoir Récupérer un devoir

            h2 Correction Devoir
            button.corrigerDevoir Corriger un devoir

    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>