html
    head
        title= title
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script()
    body

        div.container

            table
                each questionnaire in listeQuestionnaire
                    tr #{questionnaire.getId()} , #{questionnaire.getDescription()}
                    br
                else
                    tr
                        em pas de questionnaire

            form#choisirQuestionnaire.form-group(action='javascript:void(0);')
                dl
                    dt Identifiant de la question
                    dd
                        input(name='idQuestionnaire' type='text')
                button.choisirQuestionnaire Choisir le questionnaire
                button.supprimerQuestionnaire Supprimer le questionnaire

            br
            button.continueRecup Continuer affichage questionnaire cours différent
            button.accueil Terminer visionnement questionnaires

        if idcours
            input(id='idCours' name='idCours' type='hidden' value=idcours)


    <script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/cu05.js"></script>
    <script type="text/javascript" src="/lib/main.js"></script>